/.idea
/.vscode
*.log


# conflict file
.env
.htaccess
.user.ini
favicon.ico
nginx.htaccess
install.lock


# addons module
/addons/*/

# app module
# /app/light_im/



# attachment
/attachment/*/

# runtime
/runtime/*/